.place-item {
  margin-bottom: 8px !important;
}

.place-item:hover {
  background-color: #f0f3f5 !important;
}
.react-rater {
  display: inline-block;
  line-height: normal; }
.react-rater > * {
  display: inline-block; }
.react-rater div {
  cursor: pointer;
  color: #ccc;
  position: relative; }
.react-rater div.will-be-active {
  color: #666; }
.react-rater div.is-active {
  color: #E7711B !important;}
.react-rater div.is-active-half:before {
  color: #E7711B;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden; }
.react-rater div.is-disabled {
  cursor: default; }

.menu-title:hover{
  color: black !important;
}

.location-map {
  position: fixed;
  width: 22%;
}

#iframely-content {
  width: 100%;
  text-align: center;
}

iframe {
  width: 100%;
  text-align: center;
}


.neighborhood-icon:hover{
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.page-menu-item:hover {
  color:black !important;
}



.event-item:hover {
  background-color: #f0f3f5 !important;
}
.event-title {
  font-weight: normal;
  line-height: 26px;
  font-family: Georgia,Palatino,serif;
  font-size: 24px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;

}
.event-description {
  padding: 15px;
  background-color: rgb(249, 249, 249);
  font-size: 13px;
  line-height: 1.5;
  max-width: 550px;
  max-height: 350px;
  overflow: scroll;
}
.event-description img {
  width: 100%
}

.event-time {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.event-venue {
  text-align: center;
  font-size: 12px;
}

.event-venue-details {
  text-align: center;
  font-size: 12px;
}
.event-venue-private {
  margin: 0 0 10px;
  padding: 0;
  line-height: 16px;
  text-align: center;
  font-size: 13px;
}

.event-attendance {
  color: #4F8A10;
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.event-meta {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 95px;
}
.event-meetup {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.event-meetup-link {
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #A7241D;
  color: white!important;
  text-decoration: none;
  background-color: #CA3E47;
  background-image: -moz-linear-gradient(top, #ca3e47, #a8252e);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a8252e), color-stop(1, #ca3e47));
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}


.react-add-to-calendar {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
}
.react-add-to-calendar__wrapper {
  zoom: 1;
  cursor: pointer;
}
.react-add-to-calendar__button {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #aab9d4;
  border-radius: 3px;
  color: #000;
}
.react-add-to-calendar__button--light {
  background-color: #fff;
}
.react-add-to-calendar__icon--right {
  padding-left: 5px;
}
.react-add-to-calendar__icon--left {
  padding-right: 5px;
}
.react-add-to-calendar__dropdown {
  position: absolute;
  top: 30px;
  left: 1px;
  width: 93%;
  padding: 5px 0 5px 8px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #a8a8a8;
  background-color: #fff;
  text-align: left;
}
.react-add-to-calendar__dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
.react-add-to-calendar__dropdown ul li a {
  color: #000;
  text-decoration: none;
}
.react-add-to-calendar__dropdown ul li a i {
  padding-right: 10px;
}



.twitter-timeline-rendered {
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.14) !important;
  border: none !important;
}


@keyframes comeIn {
  0% { transform: scale(0) }
  75% { transform: scale(1.03) }
  100% { transform: scale(1) }
}

//.xmasonry .xblock{
//  animation: comeIn ease 0.5s;
//  animation-iteration-count: 1;
//  transition: left .3s ease, top .3s ease;
//}



.photo-card-container {
  position: relative;
  width: 50%;
  cursor: pointer;
}


.photo-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 293px;
  width: 293px;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.59);
}

.photo-card-container:hover .photo-card-overlay {
  opacity: 1;
}

.photo-container-text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 293px;
  height: 293px;
  overflow: scroll;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
